.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0!important;
}

.avatar {
    border-radius: 50%;
    border: 1px solid black;
    width: 70px;
    margin: 8px 8px 8px 16px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.department {
    font-size: 10px;
    font-weight: 500;
}

.phone {
    margin: 8px 16px 8px 8px;
    font-size: 10px;
    font-weight: 700;
}

.email {
    margin: 8px 16px 8px 8px;
    font-size: 10px;
    font-weight: 700;
    word-wrap: break-word;
}

.id {
    display: none;
}

.fp {
    padding-top: 8px!important;
    padding-left: 0!important;
}

@media only screen and (min-width: 960px) {
    .avatar {
        width: 150px;
    }
    .name {
        font-size: 32px;
    }
    .department {
        font-size: 20px;
    }
    .phone {
        font-size: 20px;
    }
    .email {
        font-size: 20px;
    }
}